<launch>
  <!-- launch script for cpp autonomy of flyappy  -->

  <node name="flyappy_autonomy_code" pkg="flyappy_autonomy_code" type="flyappy_autonomy_code_node" output="screen" />
  <node name="flyappy_main_game" pkg="flyappy_main_game" type="flyappy.py" output="screen" required="true" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find flyappy_autonomy_code)/rviz/config_file.rviz" />
</launch>
